.custom-background {
    background: #17154c;
}

.card-price-quantity {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card-price-quantity p:first-child {
    font-weight: bold;
    font-size: 30px;
    color: rgb(245, 118, 0);
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.delete-button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.delete-button-container button {
    margin-bottom: 20px;
}

.navbar-custom-color {
    background-color: #1d1953;
}

.container-fluid {
    padding: 20px;
}

.nav-link {
    color: white !important;
    font-weight: bold !important;
}

.header-space-between-items {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar-toggler {
    background: white!important;
}
